<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"></ngx-spinner>
<body>
    <div class="main-wrap">
        <div class="splash-sec">
            <img class="img-fluid main_logo" src="assets/images/splash_logo.png">
            <img class="img-fluid" src="assets/images/logo_name.png">
        </div>
    </div>
</body>
<!-- <body style="background: white;height: 100vh; padding-top: 68px;">
<h3 style="color: black !important;" *ngIf="isnoData">No Data Found</h3>
</body> -->