// @font-face {
//     font-family: 'helvetica-neue';
//     src: url(helvetica-neue.ttf);
// }
*{box-sizing: border-box;}
body,a,p{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6,a,p{padding:0;margin:0;}
body{padding-top:65px;}
.template_header{display: flex;padding: 10px;background: #101434;align-items: center;top:0;z-index: 9999;width: 100%; position: fixed; margin: auto;}
.template_header img{margin-right: 10px; width: 50%;}
.template_header a{
    border: 1px solid #fff;
    font-size: 10px; 
    padding: 6px 8px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    margin-left: auto;
    background: transparent;
}
.info-container{
    padding:10px;
    border-radius:20px;
    width: 100%;
    position: relative;
   // background:#fff;
    margin-top:-20px;
    z-index: 999;
}
.upload-btn {height:240px;background: #202e55;position:relative}
// .upload-btn a{
//     position: absolute;
//     top:95px;
//     right: 15px;
// }
.upload-btn a{
    display: flex;height: 100%;width: 100%;overflow: hidden;
}
.upload-btn a img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.upload-btn input{
    width: 65px;
    position: absolute; 
    bottom: 30px;
    right: 0;
    height: 45px;
    opacity: 0;
}
.content{text-align: center;margin:10px 0;}
.content h4{margin-bottom: 5px;font-size: 15px;font-weight: 600;}
.subject{font-size: 12px!important;margin-bottom:20px;}
.content p{color:#9097AB;font-size: 14px;line-height: 16px;} 
.blue-cl{color:#101434!important;}        
.profile-image img{width: 100%; height: 100%; object-fit: cover;}
.profile-image{
    text-align: center;
    margin-bottom: 20px !important;
    width: 150px;
    margin: 0 auto;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -80px;
    box-shadow: 2px 2px 3px rgb(0 0 0 / 45%);
}
.common-btns{width:100%;margin:15px 0;display: flex;justify-content: center;}
.common-btns a {
    flex: 1;
}
.sm-input-wrap{position: relative;}
.fb-icon{position: absolute;
    top: 10px;
    left: 14px;}
.grad-btn{
    padding:10px 12px;
    display:block;
    border-radius:30px;
    font-size: 14px;
    text-decoration: none;
    margin-bottom:10px;
    color:#fff !important;
    background: rgb(16,19,51);
    background: -moz-linear-gradient(top, rgba(16,19,51,1) 0%, rgba(22,46,84,1) 100%);
    background: -webkit-linear-gradient(top, rgba(16,19,51,1) 0%,rgba(22,46,84,1) 100%);
    background: linear-gradient(to bottom, rgba(16,19,51,1) 0%,rgba(22,46,84,1) 100%);
    margin: 0 5px;
}
.social-btns ul,.info-icons ul{margin:0;padding: 0;margin: 0 auto;text-align: center;}
.social-btns ul li,.info-icons ul li{list-style: none;display: inline-block;padding:0;}
.info-icons ul li{padding:10px; width: calc(100% / 6);}
.social-btns{
    padding: 10px 0;
}
.social-btns ul{
    max-width: 320px;
}
.social-btns ul li a img{width: 65px;}
.template_footer{ 
    font-size: 12px; 
    text-align: center;
    padding:6px 0;
    background: url('../../../assets/images/contact-footer.png') no-repeat;
    background-size: cover;
    height: 85px;z-index: 1;
    position: relative;
    margin-top: -20px;
}
.template_footer p{padding:20px 0 10px;color:#fff;}
.template_footer small{color:#fff;}
.text-white{color:#BFBFBF;}
@media (min-width:767px){
    .main-wrap{max-width: 320px;margin:0 auto;position: relative;}
    .template_header{
        max-width: 320px;
    }
}