body{padding-top:65px;}
// @font-face {
//     font-family: 'helvetica-neue';
//     src: url(../../../assets/css/helvetica-neue.ttf);
// }
// *{box-sizing: border-box;}
// body,a,p{font-family: 'helvetica-neue';margin:0;padding:0;}
// h1,h2,h3,h4,h5,h6,a,p{padding:0;margin:0;}
// // body{padding-top:65px;}
// ul{padding:0!important;margin:0!important;list-style: none;}
// a{text-decoration: none;}
// .header{display: flex;padding: 10px;background: #101434;align-items: center;position: fixed;z-index: 1;top:0;left:0;right:0;}
// .header img{margin-right: 10px;}
// .header a{
//     border:1px solid #fff;
//     font-size: 12px;
//     padding: 10px;
//     border-radius: 6px;
//     text-decoration: none;
//     color: #fff;
//     margin-left:auto;
//     background: transparent;}
// .profile_banner{position: relative;background:#121111;border-radius:20px 20px 0 0;height: 135px;margin-top: 20px;}
// .upload_img img{position: absolute; Bottom:0;right:10px;}
// .profile_img img{
//     position: absolute;
//     bottom: -177px;
//     left: 35%;
//     border: 2px solid #fff;
//     border-radius: 60px;
//     width: 100px;
//     height: 100px;
// }
// .upload_img input{
//     bottom: 0;
//     right: 0;
//     position: absolute;
//     width: 75px;
//     height: 75px;
//     opacity: 0;
// }
// .main_btns{text-align: center;padding: 15px;}
// .main_btns ul li{display: table-cell;}
// .main_btns ul li a{padding: 10px;
//     color: #fff;
//     border-radius: 20px;
//     width: 145px;
//     font-size: 12px;
//     display: inline-block;
//     text-align: center;
// }
// .d_bg{background: #18191A;}
// .b_bg{background: #124496;}
// .d_cl{color: #18191A !important;}
// .b_cl{color: #124496 !important;}
// .profile_brief{background: #124496;padding: 10px;padding-top: 55px;border-radius: 0 0 20px 20px;text-align: center;color: #fff;}
// .des{color: #7F7F7F;font-size: 14px;padding: 5px;text-align: center;margin-bottom: 10px;}
// .social_media ul{display: flex;justify-content: center;}
// .social_media ul li img{width: 55px;height: 55px;}
// .basic_info{padding:10px;}
// .wraper{display: flex;margin: 15px 0;}
// .info_icon{margin-right: 10px;}
// .info_wrap .b_cl{font-size: 12px;margin-bottom: 5px;}
// .footer{text-align: center;padding: 10px 0;color: #BFBFBF;font-size: 12px;}

// @media (min-width:767px){
//     .main-wrap{max-width: 320px;margin:0 auto;position: relative;}
// }
