<body class="vh-100">
    <div class="authincation h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100 align-items-center">
                <div class="col-md-7">
                    <div class="authincation-content">
                        <div class="row no-gutters">
                            <div class="col-xl-12">
                                <div class="auth-form termCondition" id="scroll">
                                    <h4 class="mb-3">
                                        <svg  (click)="history.back()" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none">
                                            <path id="Path 2" d="M21 12L3 12" stroke="#11193d" stroke-width="2" stroke-linecap="round"/>
                                            <path id="Path 3" d="M9 6L3 12L9 18" stroke="#11193d" stroke-width="2" stroke-linecap="round"/>
                                            </svg>
                                    Privacy Policy
                                    </h4>
                                   <!-- <h5 class="text_prv"> 1. Lorem Ipsum 
                     </h5> -->
                     <div class="card_scroll height60vh custom_scrollbar">
                     <p [innerHTML]="privacyData"></p>
                     </div>
                     <!-- <h5 class="text_prv"> 2. Lorem Ipsum 
                    </h5>
                     <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                     <h5 class="text_prv"> 3. Lorem Ipsum 
                    </h5>
                     <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
                     <h5 class="text_prv"> 4. Lorem Ipsum 
                    </h5>
                     <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries
                     </p>
                     <h5> 5. Lorem Ipsum 
                     </h5>
                     <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only </p>
                     <h5> 6. Lorem Ipsum 
                     </h5>
                     <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                     <h5> 7. Lorem Ipsum 
                     </h5>
                     <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
                     <h5> 8. Lorem Ipsum 
                     </h5>
                     <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries
                     </p>
                     <h5> 9. Lorem Ipsum 
                     </h5>
                     <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only </p> -->
                     <!-- Modal footer -->
                   
                                </div>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
 </body>