<body>
    <div class="main-wrap">
        <div class="template_header">
            <img src="assets/images/app/ft-logo.png" alt="logo-image" />
            <a href="#">Get Your Card</a>
        </div>
        <div class="upload-btn">
            <a href=""><img src="assets/images/app/upload-image.png" alt="icon" /></a>
        </div>
        <div class="info-container">
            <div class="content">                
                <h4 class="blue-cl">Marie Dupont's Page</h4>
                <p>Description Text Here Description Text Here Description  
                    Here Description Text Here Description Text Here 
                    Text Here Description Text Here Description Text Here </p>
                <div class="common-btns">
                    <a class="grad-btn" href="">Contact Card</a>
                    <a class="grad-btn" href="">Calendar</a>
                    <a class="grad-btn" href="">Catelog</a>
                    <a class="grad-btn" href="">Catelog</a>
                </div>
            </div>
            <div class="social-media">
                <ul>
                    <li><a href=""><img src="assets/images/app/instagram-shadow.png" alt="icon"/></a></li>
                    <li><a href=""><img src="assets/images/app/fb-shadow.png" alt="icon"/></a></li>
                    <li><a href=""><img src="assets/images/app/snapchat-shadow.png" alt="icon"/></a></li>
                    <li><a href=""><img src="assets/images/app/youtube-shadow.png" alt="icon"/></a></li>
                    <li><a href=""><img src="assets/images/app/twitter-shadow.png" alt="icon"/></a></li>
                    <li><a href=""><img src="assets/images/app/hi-shadow.png" alt="icon"/></a></li>
                    <li><a href=""><img src="assets/images/app/behance-shadow.png" alt="icon"/></a></li>
                    <li><a href=""><img src="assets/images/app/whatsapp-shadow.png" alt="icon"/></a></li>
                    <li><a href=""><img src="assets/images/app/linkedin-shadow.png" alt="icon"/></a></li>
                    <li><a href=""><img src="assets/images/app/drop-shadow.png" alt="icon"/></a></li>
                    <li><a href=""><img src="assets/images/app/skype-shadow.png" alt="icon"/></a></li>
                    <li><a href=""><img src="assets/images/app/link-shadow.png" alt="icon"/></a></li>
                </ul>
            </div>
            <p class="footer pl-0 pt-4">All Rights Reserved. ©2021 B-in-Touch.fr</p>
        </div>
    </div>
  </body>