<body>
    <div class="main-wrap">
        <div class="template_header">
            <img src="assets/images/app/ft-logo.png" alt="logo-image" />
            <a href="#">Get Your Card</a>
        </div>
        <div class="upload-btn">
            <a href=""><img src="assets/images/app/upload-image.png" alt="icon" /></a>
        </div>
        <div class="info-container">
            <div class="profile-image">
                <img src="assets/images/app/profile_img.png" alt="image" />
            </div>
            <div class="content">                
                <h4 class="">Marie Dupont's Page</h4>
                <p>Description Text Here Description Text Here Description  
                    Here Description Text Here Description Text Here 
                    Text Here Description Text Here Description Text Here </p>
                <div class="common-btns">
                    <a class="grad-btn" href="">Contact Card</a>
                    <a class="grad-btn" href="">Calendar</a>
                    <a class="grad-btn" href="">Catelog</a>
                    <a class="grad-btn" href="">Catelog</a>
                </div>
            </div>
            <div class="social-media">
                <ul>
                    <li><a href=""><img src="assets/images/app/insta-dark.png" alt="icon"/></a></li>
                    <li><a href=""><img src="assets/images/app/fb-dark.png" alt="icon"/></a></li>
                    <li><a href=""><img src="assets/images/app/snapchat-dark.png" alt="icon"/></a></li>
                    <li><a href=""><img src="assets/images/app/youtube-dark.png" alt="icon"/></a></li>
                    <li><a href=""><img src="assets/images/app/twitter-dark.png" alt="icon"/></a></li>
                    <li><a href=""><img src="assets/images/app/hi-dark.png" alt="icon"/></a></li>
                    <li><a href=""><img src="assets/images/app/behance-dark.png" alt="icon"/></a></li>
                    <li><a href=""><img src="assets/images/app/whatsapp-dark.png" alt="icon"/></a></li>
                    <li><a href=""><img src="assets/images/app/linkedin-dark.png" alt="icon"/></a></li>
                    <li><a href=""><img src="assets/images/app/drop-dark.png" alt="icon"/></a></li>
                    <li><a href=""><img src="assets/images/app/skype-dark.png" alt="icon"/></a></li>
                    <li><a href=""><img src="assets/images/app/link-dark.png" alt="icon"/></a></li>
                </ul>
            </div>
            <p class="footer text-white pl-0 pt-4">All Rights Reserved. ©2021 B-in-Touch.fr</p>
        </div>
    </div>
  </body>