<div id="wrapper">
    <!-- <app-sidebar *ngIf="router.url != '/' && router.url != '/login' && router.url != '/forgotpassword' && router.url != '/sign_up'"> </app-sidebar> -->
    <!-- Content Wrapper -->
    <!-- <div id="content-wrapper" class="d-flex flex-column"> -->
        <!-- Main Content -->
        <!-- <div id="content">
            <app-sidebar *ngIf="router.url == '/dashboard'"> </app-sidebar> -->
            <router-outlet></router-outlet>
        <!-- </div> -->
        <!-- <app-footer *ngIf="router.url != '/' && router.url != '/login' && router.url != '/forgot_password' && router.url != '/register'"></app-footer> -->
    <!-- </div> -->
</div>
