@font-face {
    font-family: 'helvetica-neue';
    src: url(../../../assets/css/helvetica-neue.ttf);
}

* {
    box-sizing: border-box !important;
}

body,
a,
p {
    font-family: 'helvetica-neue';
    background: #EFF8FF;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
    padding: 0;
    margin: 0;
}

.head {
    padding: 10px;
    text-align: center;
    box-shadow: 0px 2px 5px 0px rgb(197 197 197 / 75%);
    -webkit-box-shadow: 0px 2px 5px 0px rgb(197 197 197 / 75%);
    -moz-box-shadow: 0px 2px 5px 0px rgb(197 197 197 / 75%)
}

.head a {
    color: #4B4A4A;
}

.user-info {
    display: flex;
    padding: 10px 15px;
}

.user-img {
    width: 100px;
    height: 100px;
    background: #4B4A4A;
    border-radius: 50%;
    overflow: hidden;
}

.user-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user-details {
    flex: 1;
    padding-left: 15px;
}

.user-details h3 {
    color: #0071BC !important;
}

.user-details h4,
.user-details h5 {
    color: #000 !important;
}

.user-details p {
    color: #9E9E9E;
    background: transparent;
}

.status input {
    border: none;
    padding: 10px;
    width: 100%;
    background: #eff8ff;
    margin-bottom: 10px;
}

.main-btns {
    display: flex;
}

.main-btns button {
    display: inline;
    width: 46%;
    background: #0071BC;
    border: 0;
    padding: 15px;
    border-radius: 50px;
    color: #fff;
    margin: 0 6px 23px;
    font-size: 13px;
    box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 10%);
    -webkit-box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 10%);
    -moz-box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 10%);
}

.section {
    background: #fff;
    border-radius: 20px 20px 0 0;
    padding: 15px 15px;
}

.section button {
    color: #0071BC;
    border-radius: 40px;
    border: 1px solid #0071BC;
    background: #fff;
    width: 100%;
    padding: 10px 6px;
    font-size: 14px;
    text-decoration: none;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    font-weight: 600;
}

.cv {
    margin-bottom: 35px;
}

.social-media {
    list-style: none;
    margin-bottom: 0px;
    padding: 0;
    padding-top: 15px;
}

.social-media li {
    display: inline;
    padding: 4px 4px;
    flex: 1;
}

.social-media li a {
    display: inline-block;
    margin-bottom: 4px;
    height: 78px;
    width: 78px;
}

.section p {
    color: #BFBFBF;
    text-align: center;
    font-size: 14px;
}

.footer {
    display: flex;
    padding: 10px;
    background: #101434;
    justify-content: space-between;
}

.footer img {
    margin-right: 10px;
}

.footer a {
    border: 1px solid #fff;
    padding: 14px 10px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    background: transparent;
}

a.ng-star-inserted {
    background: transparent;
}

.share_sec {
    // background: rgb(215, 39, 255);
    height: calc(100vh - 313px);
    overflow-y: auto;
}

.share_sec::-webkit-scrollbar {
    width: 0px;
}


/* Track */

.share_sec::-webkit-scrollbar-track {
    background: transparent;
}


/* Handle */

.share_sec::-webkit-scrollbar-thumb {
    background: transparent;
}


/* Handle on hover */

.share_sec::-webkit-scrollbar-thumb:hover {
    background: transparent;
}

.mb_0 {
    margin-bottom: 0px;
}

.margin_center {
    text-align: center;
    width: 100%;
}

.social-media {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    // justify-content: center;
    width: 100%;
}

@media (min-width:767px) {
    .main-wrap {
        max-width: 374px;
        margin: 0 auto;
    }
    .template_footer {
        max-width: 374px;
    }
}

@media (max-width:411px) {
    .social-media li a {
        display: inline-block;
        margin-bottom: 4px;
        height: 80px;
        width: 80px;
    }
}

@media (max-width:375px) {
    .social-media li a {
        display: inline-block;
        margin-bottom: 4px;
        height: 74px;
        width: 74px;
    }
}

@media (max-width:360px) {
    .social-media li a {
        display: inline-block;
        margin-bottom: 4px;
        height: 74px;
        width: 74px;
    }
}

@media (max-width:320px) {
    .social-media li a {
        display: inline-block;
        margin-bottom: 4px;
        height: 64px;
        width: 64px;
    }
}

.modal-header {
    justify-content: center;
    p {
        background: transparent;
        color: #fff;
        opacity: 0.8;
        margin-top: -20px;
    }
}

.template_footer {
    display: flex;
    padding: 10px;
    background: #101434;
    align-items: center;
    bottom: 0;
    z-index: 9999;
    width: 100%;
    position: fixed;
    margin: auto;
}

.template_footer img {
    margin-right: 10px;
    width: 50%;
}

.template_footer a {
    border: 1px solid #fff;
    font-size: 10px;
    padding: 6px 8px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    margin-left: auto;
    background: transparent;
}