.add_input{
    width: 95%;
    padding: 5px 10px;
    margin: 10px 0;
    border-radius: 8px;
    background: white;
    color: black !important;
}

.smart_btn {
    padding: 0 !important;
    height: max-content !important;
}



.left_popup .close {
    position: absolute;
    right: 0 !important;
    left: auto;
    color: #5f5f5f;
    opacity: 1;
    padding-right: 20px;
}

.left_popup {
    background: #ffffff !important;
    padding: 0px !important;
    color: black !important;
}

    .left_popup {
        border: none !important;
    }


    .left_popup .modal-footer, .left_popup .modal-header {
        border: none !important;
    }

    .left_popup .modal-header h5 {
        color: black !important;
        margin: 0;
        font-size: 18px;
        padding-right: 20px;
        font-weight: 500;
        line-height: 25px;
    }


    .left_popup .modal-header {
        padding-left: 20px !important;
    }




    .left_popup .modal-body::-webkit-scrollbar {
        width: 4px;
      }
      
      /* Track */
      .left_popup .modal-body::-webkit-scrollbar-track {
        background: #f1f1f1;
      }
      
      /* Handle */
      .left_popup .modal-body::-webkit-scrollbar-thumb {
        background: #888;
      }
      
      /* Handle on hover */
      .left_popup .modal-body::-webkit-scrollbar-thumb:hover {
        background: #555;
      }

      .left_popup .modal-body {
        padding: 20px;
    }

    .left_popup .modal-body p {
        border-bottom: 1px solid #dedede;
        padding-bottom: 10px;
    }


    .left_popup .modal-dialog-scrollable {
        margin: 0px !important;
    }
