.dropdown_body.p-3 {
    background: white;
    padding: 0 !important;
}

.dropdown_header {
    background-color: #fff;
    border-bottom: 2px solid #E1E1E1;
    padding: 12px 20px;
}
.dropdown_header h5{
    font-size: 15px;
    color: #303030 !important;
    font-weight: 500 !important;
}